body {
    background-image: url('../images/background.jpg');
}

.login {
    background-color: #fff;
    width: 28%;
    margin: 80px auto;
    border-radius: 10px;
    padding: 54px;
    border-left: 5px solid #009688;
    box-shadow: 0px 0px 0px 0px #3f51b5;
}

.login>.row>h2 {
    margin: auto;
}

.btn-signin-form {
    width: 100%;
    margin-top: 10px;
}

.btn-signup-form{
    width: 100%;
}

.wrapper{
    margin-top: 15px;
    text-align: center;
}

.login-wrapper{
    margin-top: 18px;
}

.signup {
    background-color: #fff;
    width: 85%;
    margin: 80px auto;
    border-radius: 10px;
    padding: 50px;
    border-left: 5px solid #009688;
    box-shadow: 0px 0px 0px 0px #3f51b5;
}

.signup-title{
    margin-left: 45%;
    margin-bottom: 10px;
}

.reset-pass-form{
    background-color: #fff;
    width: 35%;
    margin: 80px auto;
    border-radius: 10px;
    padding: 57px;
    border-left: 5px solid #009688;
    box-shadow: 0px 0px 0px 0px #3f51b5;
}

.confirm-form{
    background-color: #fff;
    width: 40%;
    margin: 80px auto;
    border-radius: 10px;
    padding: 59px;
    border-left: 5px solid #009688;
    box-shadow: 0px 0px 0px 0px #3f51b5;
}

.confirm-title{
    margin-bottom: 10px;
    text-align: center;
}

.btn-confirm-form{
    width: 97%;
}
