{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{% if validlink %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="bg-img">
        <form method="post">
        {% csrf_token %}
            <div class="container">
                <div class="confirm-form">
                    <div class="row">
                        <div class="confirm-title">
                            <h2>{% trans 'Please enter and confirm your new password.' %}</h2>
                        </div>
                        <div class="col-md-12">
                            <div class="login-wrapper">
                                <table>
                                    <tr>
                                        <td>{{ form.new_password1.errors }}
                                            <label for="id_new_password1">{% trans 'New password' %}</label></td>
                                        <td>{{ form.new_password1 }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.new_password2.errors }}
                                            <label for="id_new_password2">{% trans 'Confirm password' %}</label></td>
                                        <td>{{ form.new_password2 }}</td>
                                    </tr>
                                </table>
                                <div class="wrapper">
                                    <input type="submit" value="Change my password" class="btn btn-primary btn-confirm-form">
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
{% else %}
    <h1>{% trans 'Password reset failed' %}</h1>
    <p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
{% endif %}
{% endblock %}
