<hr class="mt-4 mb-3"/>
<div class="product-review pb-4">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center me-4 pe-2">
            <div style="padding-right: 20px;">
                <i class="far fa-comment-dots"></i>
            </div>
            <img class ="rounded-circle" width="50" src="\media\profile_pics\avatar.png" alt="User">
            <div class="ps-3" style="padding-left: 20px;">
                <h6 class="fs-sm mb-0">{{ user }}</h6>
                <span class="fs-ms text-muted">{{ created }}</span>
            </div>
        </div>
        <div class="p-2"><a href="#" data-toggle="modal" data-target="#replyModal"><i class="fas fa-reply"></i></a></div>
    </div>
    
    <div class="ps-3" style="padding-left: 105px;">
        <p class="fs-md mb-2">
            <h6>reply to : <a href="#">@{{ reply_user }}</a> : "{{ reply_comment }}"</h6>
            <p>{{ content }}</p>
        </p>
    </div>
</div>
