{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container my-4">
    <h2 class="text-center my-4">{% trans 'All Orders' %}</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% trans 'ID' %}</th>
                <th scope="col">{% trans 'Username'%}</th>
                <th scope="col">{% trans 'Phone number' %}</th>
                <th scope="col">{% trans 'Shipping address' %}</th>
                <th scope="col">{% trans 'Price' %}</th>
                <th scope="col">{% trans 'Date created' %}</th>
                <th scope="col">{% trans 'Status' %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead> 
        <tbody>
        {% if order_list.exists %}
            {% for order in order_list %}
                <tr>
                    <td><p>#{{ order.id }}</p></td>
                    <td><p>{{ order.user.username }}</p></td>
                    <td><p>{{ order.phone_number }}</p></td>
                    <td><p>{{ order.shipping_address }}</p></td>
                    <td><p>{{ order.total_price }} $</p></td>
                    <td><p>{{ order.date }}</p></td>
                    <td>
                        {% if order.status == 'A' %}
                        <p class="text-success">{% trans 'Approved' %}</p>
                        {% elif order.status == 'W' %}
                        <p class="text-warning">{% trans 'Waiting' %}</p>
                        {% elif order.status == 'R' %}
                        <p class="text-danger">{% trans 'Rejected' %}</p>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'order_detail' order.id %}"><i class="far fa-eye" href="{% url 'order_detail' order.id %}"></i></a></td>
                    <td>
                        <form method="POST" action="{% url 'check-order-status' order.id %}">
                            {% csrf_token %}
                            <select id="status" name="status" style="width: 95px; height: 35px;">
                                <option value="" selected disabled hidden>
                                {% if order.status == 'W' %}
                                Waiting
                                {% elif order.status == 'A'%}
                                Approved
                                {% else %}
                                Rejected
                                {% endif %}
                                </option>
                                <option value="W">Waiting</option>
                                <option value="A">Approved</option>
                                <option value="R">Rejected</option>
                            </select>
                            <button class="btn btn-success float-right text-center" style="width: 95px; height: 35px;">{% trans 'Confirm' %}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>{% trans 'Do not have any order yet!' %}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<nav aria-label="Product navigation" style="padding-bottom: 40px;">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
        </li>
        {% endif %}
        {% for page_num in page_obj.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
