{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container my-4">
    <h2 class="text-center my-2">{% trans 'All Orders' %}</h2>
    <div class="my-3 py-3 d-block w-100" style="padding-left: 300px;">
        <form method="POST" id="advanced-filter" class="form-inline my-2 my-lg-0" action="{% url 'filter_or_export' %}">
            {% csrf_token %}
            <div class="form-group text-light mr-2 p-2 rounded rounded-lg">
                <label for="category_name" class="font-weight-bold mx-sm-2"><span class="text-dark">{% trans 'Filter by status: ' %}</span></label>
                <select id="export" name="export" class="form-control">
                    <option {% if status == 'All' %} selected {%endif%} value="All">{% trans 'All' %}</option>
                    <option {% if status == 'W' %} selected {%endif%} value="W">{% trans 'Waiting' %}</option>
                    <option {% if status == 'A' %} selected {%endif%} value="A">{% trans 'Approved' %}</option>
                    <option {% if status == 'R' %} selected {%endif%} value="R">{% trans 'Rejected' %}</option>
                </select>
            </div>
            <button class="btn btn-warning m-sm-2" type="submit" name="filter"><i class="fas fa-filter fa-fw"></i>{% trans 'Apply' %}</button>
            <button class="btn btn-primary m-sm-2" type="submit" name="export-file">{% trans 'Export file' %}</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% trans 'ID' %}</th>
                <th scope="col">{% trans 'Username'%}</th>
                <th scope="col">{% trans 'Phone number' %}</th>
                <th scope="col">{% trans 'Shipping address' %}</th>
                <th scope="col">{% trans 'Price' %}</th>
                <th scope="col">{% trans 'Date created' %}</th>
                <th scope="col">{% trans 'Status' %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead> 
        <tbody>
        {% if order_list.exists %}
            {% for order in page_obj %}
                <tr>
                    <td><p>#{{ order.id }}</p></td>
                    <td><p>{{ order.user.username }}</p></td>
                    <td><p>{{ order.phone_number }}</p></td>
                    <td><p>{{ order.shipping_address }}</p></td>
                    <td><p>{{ order.total_price }} $</p></td>
                    <td><p>{{ order.date }}</p></td>
                    <td>
                        {% if order.status == 'A' %}
                        <p class="text-success">{% trans 'Approved' %}</p>
                        {% elif order.status == 'W' %}
                        <p class="text-warning">{% trans 'Waiting' %}</p>
                        {% elif order.status == 'R' %}
                        <p class="text-danger">{% trans 'Rejected' %}</p>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'order_detail' order.id %}"><i class="far fa-eye" href="{% url 'order_detail' order.id %}"></i></a></td>
                    <td>
                        <form method="POST" action="{% url 'check-order-status' order.id %}">
                            {% csrf_token %}
                            <select id="status" name="status" style="width: 95px; height: 35px;">
                                <option {% if status == 'W' %} selected {%endif%} value="W">{% trans 'Waiting' %}</option>
                                <option {% if status == 'A' %} selected {%endif%} value="A">{% trans 'Approved' %}</option>
                                <option {% if status == 'R' %} selected {%endif%} value="R">{% trans 'Rejected' %}</option>
                            </select>
                            <button class="btn btn-success float-right text-center" style="width: 95px; height: 35px;">{% trans 'Confirm' %}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>{% trans 'Do not have any order yet!' %}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<nav aria-label="Product navigation" style="padding-bottom: 40px;">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
        </li>
        {% endif %}
        {% for page_num in page_obj.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
