{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
{% include 'ecommerce/advertise.html' %}
<main role="main" class="container">
    <div class="my-3 py-3 text-center">
        <h2 class="display-4">{% trans 'New products' %}</h2>
        <hr>
    </div>
    <section class="row">
        {% for product in product_list %}
        <div class="col-md-3">
            <div class="card border-0 mb-4">
                <div>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" class="card-img-top" width="200" height="300"
                            alt="{{ product.product_name }}">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text text-muted text-truncate">{{ product.description }}</p>
                    <p class="card-text font-weight-bold mb-4">Price : {{ product.price|floatformat:2 }} $</p>
                    <div class="row">
                        <div class="col-md-3">
                            {% if user.is_authenticated %}
                            <form action="{% url 'wishlist' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{product.pk}}" name="product_pk">
                                <button type="submit" class="btn btn-outline-danger"
                                    style="font-size:18px; border-radius: 50%">♡</button>
                            </form>
                            {% else %}
                            <a href="{% url 'signup' %}" class="btn btn-outline-danger"
                                style="font-size:18px; border-radius: 50%">♡</a>
                            {% endif %}
                        </div>
                        <div class="col-md-7 text-center">
                            <a href="{{ product.get_absolute_url }}" class="btn btn-secondary">{% trans 'View details'
                                %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    <nav aria-label="Product navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
            </li>
            {% endif %}
            {% for page_num in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</main>
{% endblock %}
