{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<section id="product-container" class="container my-5">
  <div id="product-details" class="card border-0">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ product.image.url }}" class="card-img-top" width="400" height="600" alt="{{ product.name }}">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">{{ product.product_name }}</h2>
          {% trans 'Category : ' %}<h6 class="card-subtitle mb-2 badge badge-primary">{{ product.category }}</h6>
          <p class="card-text my-5">{{ product.description }}</p>
          <p>{% trans 'Quantity : ' %}{{ product.quantity }}</p>
          <div class="d-flex align-items-center">
            <h5 class="card-text font-weight-bold mr-4">{% trans 'Price : ' %}{{ object.price|floatformat:2 }} $</h5>
          </div>
          <div class="card-body"></div>
          <div id="popover-content">
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'cart_add' product.pk %}">
              {% csrf_token %}
              <input type="number" class="border-floating" name="quantity" min="0" max="{{product.quantity}}"
                style="width: 65px; height: 35px;" value="0" required>
              <div style="padding-left: -10px; padding-top: 25px;">
                <button class="btn btn-info"><i class="fas fa-shopping-cart mr-2"></i>{% trans 'Add to cart' %}</button>
              </div>
            </form>
            {% else %}
            <div style="padding-left: -10px; padding-top: 25px;">
              <a href="{% url 'login' %}">
              <button class="btn btn-info"><i class="fas fa-shopping-cart mr-2"></i>{% trans 'Add to cart' %}</button>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12">
    <hr class="mt-4 mb-3">
  </div>
  <div class="row pt-4">
    <div class="col-md-7">
      <div class="row pb-3">
        <div class="col-lg-8 col-md-5">
          <h3 class="h3 mb-8">All reviews</h3>
        </div>
        <div class="d-flex justify-content-end pb-4">
          <div class="d-flex align-items-center flex-nowrap">
            <label class="fs-sm text-muted text-nowrap me-2 d-none d-sm-block" for="sort-reviews">Sort by: </label>
            <div class="form-element form-select-sm" style="padding-left: 10px; padding-bottom: 10px;">
              <select class="form-control" id="sort-reviews">
                <option>Newest</option>
                <option>Oldest</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      {% if review.exists %}
      {% for rv in review %}
        <div class="product-review pb-4 mb-4 border-bottom">
          <div class="d-flex mb-3">
            <div class="d-flex align-items-center me-4 pe-2">
              <img class ="rounded-circle" width="50" src="\media\profile_pics\avatar.png" alt="User">
              <div class="ps-3" style="padding-left: 20px;">
                <h6 class="fs-sm mb-0">{{ rv.user.username }}</h6>
                <span class="fs-ms text-muted">{{ rv.created }}</span>
              </div>
            </div>
          </div>
          {% if rv.rate == 5 %}
          <div style="padding-bottom: 10px;">
            {% for i in "12345" %}
            <i class="fas fa-star" style="color: orange;"></i>
            {% endfor %}
          </div>
          {% elif rv.rate == 4 %}
          <div style="padding-bottom: 10px;">
            {% for i in "1234" %}
            <i class="fas fa-star" style="color: orange;"></i>
            {% endfor %}
            <i class="fa fa-star-o"></i>
          </div>
          {% elif rv.rate == 3 %}
          <div style="padding-bottom: 10px;">
            {% for i in "123" %}
            <i class="fas fa-star" style="color: orange;"></i>
            {% endfor %}
            {% for i in "12" %}
            <i class="fa fa-star-o"></i>
            {% endfor %}
          </div>
          {% elif rv.rate == 2 %}
          <div style="padding-bottom: 10px;">
            {% for i in "12" %}
            <i class="fas fa-star" style="color: orange;"></i>
            {% endfor %}
            {% for i in "123" %}
            <i class="fa fa-star-o"></i>
            {% endfor %}
          </div>
          {% elif rv.rate == 1 %}
          <div style="padding-bottom: 10px;">
            <i class="fas fa-star" style="color: orange;"></i>
            {% for i in "1234" %}
            <i class="fa fa-star-o"></i>
            {% endfor %}
          </div>
          {% endif %}
          <h5 class="h5 pb-2">{{ rv.title }}</h3>
          <p class="fs-md mb-2">
            {{ rv.content }}
          </p>
        </div>
        {% endfor %}
      {% else %}
      <p class="fs-md mb-2">
        There are no reviews for this product yet.
      </p>
      {% endif %}
    </div>
    
    <!-- Reviview Form -->
    {% if paid %}
    <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
      <div class="card p-4">
        <h3 class="h4 pb-2">Write a review</h3>
        <form method="post" class="row padding-top" action="">
        <div class="h6 pb-2 col-sm-12">
            <label class="form-label" for="review-rating">Rating<span class="text-danger">*</span></label>
            <div class="form-element form-select">
              <select class="form-control" name="review-rating">
                <option value>Choose rating</option>
                <option value="5">5 stars</option>
                <option value="4">4 stars</option>
                <option value="3">3 stars</option>
                <option value="2">2 stars</option>
                <option value="1"> 1 star</option>
              </select>
            </div>
            <div class="invalid-feedback">Please choose rating!</div>
        </div>
        <div class="h6 pb-2 col-sm-12">
          <label class="form-label" for="review-title">Title<span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Review title" required id="review-title">
          <div class="invalid-feedback">Please enter review title!</div>
          <small class="form-text text-muted">Your review title must be at least 20 characters.</small>
        </div>
        <div class="h6 pb-2 col-sm-12">
          <label class="form-label" for="review-content">Content<span class="text-danger">*</span></label>
          <textarea rows="6" class="form-control" placeholder="Your review" required name="review-content"></textarea>
          <div class="invalid-feedback">Please enter review content!</div>
          <small class="form-text text-muted">Your review content must be at least 50 characters.</small>
        </div>
        <div class="mb-3 mb-4 col-sm-12">
          <button type="submit" class="btn btn-danger btn-shadow d-block w-100">Submit a Review</button>
        </div>
      </form>
    </div>  
    {% endif %}
  </div>
</section>
{% endblock %}
