{% load i18n %}
<nav class="navbar sticky-top navbar-expand-md navbar-black bg-light" >
    <div class="container">
        <a class="navbar-brand h1 text-black" >{% trans 'Django ecommerce website' %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">{% trans 'About' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">{% trans 'Contact' %}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user-page' %}">{% trans 'Profile' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">{% trans 'Orders' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout'%}">{% trans 'Logout' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart_get' %}">{% trans 'Cart' %}<i class="fas fa-shopping-cart ml-2"></i>
                            <span id="cart-total-items" class="badge badge-info"></span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% trans 'Login' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">{% trans 'Sign Up' %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
